<div class="room-nav">
    <h1>Bloc Chat</h1>
    <span class="new-room-button" type="button" ng-click="home.addRoom()">New Room</span>
    <div ng-repeat="room in home.rooms">
        <h3>{{ room.name }}</h3>
    </div>
</div>

<div class="messages">
    <div class="messages-header">
        <h3>{{ home.currentRoom.name }}</h3>
    </div>
    <div class="messages-body" ng-repeat="message in home.messages">
        <div class="username">{{ message.username }}</div>
        <div class="timestamp">{{ message.sentAt | date : "shortTime" }}</div>
        <div class="user-message">{{ message.content }}</div>
    </div>
    <div class="message-field">
        <input type="text" name="input" placeholder="Type your message here" class="message-box" ng-model="home.newMessage.content" style="width:500px;">
        <button class="btn-new-message" type="button" ng-click="home.sendMessage()">Send message</button>
    </div>
</div>